<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="berryStreet.bluering.backend.mapper.LoginMapper">
    <resultMap type="User" id="UserResult">
        <id  property="UID"  column="UID"/>
        <id  property="username"  column="username"/>
        <id  property="email"  column="email"/>
        <id  property="role"  column="role"/>
        <result property="password"   column="password"/>
    </resultMap>

    <select id="checkUserExist" parameterType="User" resultMap="UserResult">
		select u.UID,u.username
		from User u
		where u.email = #{email} and u.password=#{password} and u.role=#{role}
	</select>
</mapper>
